[2017-04-07 23:10] pryley opened #4 "Feature Request: Option to disable datepicker on touch-enabled devices"
This is how I do it, but it would be handy as an option.

[code]

Here we are using the native date keyboard instead of the datepicker on a touch-enabled device:

![img_5573](https://cloud.githubusercontent.com/assets/134939/24822877/cd6604ca-1bc6-11e7-9e78-f770b131c3e6.png)

[2017-04-08 21:01] qodesmith commented on #4
Looking into this now...

[2017-04-08 23:28] qodesmith commented on #4
You can now pass `disableMobile: true` into the options. Datepicker will then not show on mobile devices. The input type has to be "date": `<input type="date">`.

Keep in mind, date inputs will not let Datepicker visibly populate the input field with a date. Using Datepicker on a date input field will still retain the chosen date on the Datepicker instance, but won't visibly show on the screen. Yo

[2017-04-08 23:28] #4 closed

[2017-05-03 09:45] MACscr opened #5 "Date format?"
Am I blind? I dont see where to set the date format.

[2017-05-03 10:31] MACscr opened #6 "Date input type"
It doesnt appear to work with `<input type="date">`

[2017-05-03 13:12] Arcath opened #7 "onSelect not being fired"
I'm trying to use the date picker with [etch](https://github.com/atom/etch) and its not firing the `onSelect` event.

My code looks like this:

[code]

If I watch the console `show` and `hide` get logged but onSelect does not. It also doesn't update the input with new value.

[2017-05-03 22:35] qodesmith commented on #7
I'm unable to reproduce this. `onSelect` is working on this end. What version of datpicker are you using?

[2017-05-03 22:46] qodesmith commented on #5
You're not blind. Currently there's no option to set the date format. I can add that as a feature. In the meantime, if you'd like to change it yourself, the input field is populated with a date inside the `setElValues` function. Right now its just using the `.toDateString()` method on a JavaScript date object.

[2017-05-03 22:46] #5 closed

[2017-05-03 22:50] qodesmith commented on #6
So `date` input's are a fickle beast. They are trying to do some of the work for you out of the box, which messes things up with datepicker. I meant to update the readme file to indicate this, so I'll do that soon. `date` input's want to display their own date only if you use the built-in calendar they provide. I suggest using `<input type="text">` instead. But even with the `date` input, when sel

[2017-05-03 22:50] #6 closed

[2017-05-04 07:36] Arcath commented on #7
`this.refs.input` is an input box. It gets its date set correctly in there and clicking it brings up the date selector (triggering `onShow`). The date selector is fully interactive but when I click on a date it doesn't update anything, but it does trigger `onHide` and disappears.

I shouldn't be because I'm using Etch to render the input as it opens normally and no updating has occurred yet. It co

[2017-05-04 12:54] qodesmith commented on #7
Yea, wish I could see the rest of your code and understand exactly what's going on. But you're correct. You're using datepicker correctly. If you want to tamper under the hood yourself, the onSelect function you provide is fired in the `selectDay` function. Maybe throw some `console.log`'s in there to see what's going on. Let me know if I can help further.

[2017-05-04 12:54] #7 closed

[2017-05-04 22:16] qodesmith commented on #5
@MACscr By the way, I've added the `formatter` option for users to provide a custom function which will set the value of the `<input>` element any way you want. I've also updated the README to give an example usage. Hope that helps!

[2017-05-08 18:24] giwiro opened #8 "Custom Month and Days labels"
Right now it's not possible to set custom labels for month or days.

[2017-05-08 19:28] qodesmith commented on #8
That can be done. The issue would be the length of the labels, so for instance, if you wanted to make the days on the calendar full name, they wouldn't fit. I can implement the option to provide custom labels though. Sounds like something people could use.

[2017-05-10 00:18] giwiro commented on #8
Thanks 😄

[2017-05-10 18:50] giwiro opened #10 "When running setDate an error appears."
![image](https://cloud.githubusercontent.com/assets/5349520/25915562/81908fa4-3587-11e7-8f3e-557be93ccf6d.png)

[2017-05-10 19:14] qodesmith commented on #10
Fixed with your pull request. Thanks for finding this!

[2017-05-10 19:14] #10 closed

[2017-05-13 18:42] drlovebaum opened #12 "Namespace CSS classnames"
Nothing broken, but the class names are so common ['controls', 'datepicker'] they really need to be namespaced to fit in universally w/other peoples' work while not breaking visually.

Recommend:  'qds-datepicker', 'qds-controls', etc.

[2017-05-13 21:21] qodesmith commented on #12
Excellent point. I just prefixed all the classes with `qs-`. Also found another bug or two as a result of going through the code, so thank you!

[2017-05-13 21:21] #12 closed

[2017-05-15 18:20] mrispoli24 opened #13 "datepicker not working in iOS"
The datepicker is working great for me everywhere except on iOS (safari and chrome). Whenever I try to click on a date it does not register and will not dismiss once open on the input.

[2017-05-15 18:26] qodesmith commented on #13
Hmmm... I'll look into it hopefully tonight. I'll circle back as soon as I have a fix.

[2017-05-15 19:30] mrispoli24 commented on #13
@qodesmith

I have the solution but it makes no sense to me why this worked exactly:

[code]

So by adding these click events on the show and month change events it starts working on mobile. I'm not really sure why and I'm thinking maybe Safari/Chrome have a different way of handling event propagation for touch screens that requires this. I'm going to see if I can figure out why exactly this worke

[2017-06-15 06:30] pryley opened #14 "submit.classList[addRemove] throws error"
https://github.com/qodesmith/datepicker/blob/master/datepicker.js#L661
[code]

Should be:

[code]

[2017-06-15 09:48] qodesmith commented on #14
Thanks for catching this! Just fixed it. This was a result of me renaming all classes to `qs-*` to avoid conflicts with common names and other libraries, etc. Overlooked this one.

[2017-06-15 09:48] #14 closed

[2017-06-22 18:21] dionmes opened #15 "When entering a year it jumps right through and sends a submit event"
Hi,

I really love your datepicker. I tried a lot of them and either they are to bloated or they don't fit in my garbage css styles. This one is great, fits in real nice without hassle.

Though I have an issue, when I enter the year and press return it dismisses the dialog and submits the form. Tried to do a event.preventdefault onHide. But that didn't help.

Regards,
Dion

[2017-06-22 21:01] qodesmith commented on #15
Can you share the relevant portion of your code? Let me see the html as well. When hitting return after entering a year, just the year dialog is removed. The calendar should still be visible.

[2017-06-23 08:00] dionmes commented on #15
Sure.
This is the call I make for attaching to the dom element:
Its all rendered via a php blade template so you see some blade placeholders between double brackets.
[code]

The relevant HTML look like this:

[code]

[2017-06-23 13:16] qodesmith commented on #15
Thanks for the code. I was able to reproduce the same behavior. The issue was in `datepicker`'s code I was using a `keyup` listener. I've changed that to `keydown` along with `e.stopPropagation()` on the enter key. The form won't auto-submit now. Good catch!

[2017-06-23 13:16] #15 closed

[2017-06-23 13:54] dionmes commented on #15
Awesome. Thx m8!

[2017-06-28 09:30] PearlWebStudio opened #16 "4-digit year overlay and submit button only in English"
Is it possible to translate the '4-digit year' placeholder and Submit text in the year overlay?

[2017-08-07 13:55] qodesmith commented on #16
I just implemented this feature based on your original PR. See my comments there.

[2017-08-07 13:55] #16 closed

[2017-08-09 09:12] dionmes opened #18 "Undefined in year overlay button"
Hi,

I think overlayButton and overlaySubmit got mixed up!

Dion

[2017-08-09 13:51] qodesmith commented on #18
@dionmes Thanks for pointing out the issue. I used an incorrect variable name. Fixed now!

[2017-08-09 13:51] #18 closed

[2017-09-22 18:06] noseboy opened #19 "IE compatibility?"
I have some IE9/10 users and the datepicker doesn't seem to work - works fine on Chrome.  Is this a known issue?

[2017-09-29 07:40] ravibhoraniya commented on #13
hello,
how to particular single date disable plz give me a idea.

thank you.

[2017-10-10 16:07] porpoisepower commented on #19
I'm trying to adapt this to work with IE (since I have this problem with IE 11.)

So this is a post in process, as I work through issues.  Hopefully this will be helpful to the authors of this package.

Lines 42 and 163 uses 'deconstructed object assignment' which IE doesn't support ( I had the same issue with IE 11)  I replaced the line with individual assignments (
for example I replace 42  with

[2017-10-25 13:18] qodesmith commented on #13
Hey @ravibhoraniya. Sorry for the delayed response. Not sure I understand your question. What exactly are you looking to do?

[2017-10-25 13:20] qodesmith commented on #19
Hey @porpoisepower, sorry for the delayed response. You should be using the `datepicker.min.js` file as it has already been transpiled down to ES5 and will be compatible with IE. Let me know if that works.

[2017-10-25 14:06] noseboy commented on #19
Hi, I'm using it on IE8 and IE11 - datepicker.min.js doesn't seem to work
for these.  Works fine with Chrome etc.

On 25 October 2017 at 14:20, Aaron Cordova <notifications@github.com> wrote:

[2017-10-25 16:43] qodesmith commented on #19
@noseboy Datepicker is using a [mutation observer](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) and it looks like that's [incompatible](http://caniuse.com/#search=mutationObser) with IE < 11. But can you tell me what error you're getting with IE 11 specifically?

[2017-10-25 17:11] noseboy commented on #19
At the line if (q.includes(t) throw new Error.... the console tells me that
'Object doesn't support property or method 'includes' at line 1 column 1615

On 25 October 2017 at 17:43, Aaron Cordova <notifications@github.com> wrote:

[2017-10-25 17:20] qodesmith commented on #19
@noseboy Ahhh, I see. `Array.includes` isn't supported in IE, only in Edge. Let me make some changes to the code.

[2017-10-26 03:40] qodesmith commented on #19
@noseboy @porpoisepower Ok my friends. I've revamped the code towards being more IE friendly. There's no more mutation observer and it now includes a very small polyfill for `Array.includes`. I'd love to know how things work for you guys and if there's still IE errors. As always, please use the `datepicker.min.js` file.

[2017-10-27 10:53] qodesmith commented on #19
Closing this issue. If there's still IE troubles, don't hesitate to open another ticket.

[2017-10-27 10:53] #19 closed

[2017-10-27 10:55] qodesmith commented on #13
@mrispoli24 I know it's been a while. I've updated the code and removed a mutation observer that was responsible for showing & hiding the calendar. If you can, try the latest version and see if that solves the issue.

[2017-11-14 10:22] mbruggenwirth commented on #13
I use the latest version (2.1.5) but I have a problem with de selection of a date on IOS.

[2018-01-06 16:37] liinavaker opened #20 "First day of the week"
Hi! Thanks for the great plugin!

I can't seem to find a way to set Monday as the first day of the week. Is it possible?

[2018-01-08 13:52] liinavaker commented on #20
Right now I got the desired result by changing the code in row 334 from
`const copy = new Date(new Date(date).setDate(1));`
to
`const copy = new Date(new Date(date).setDate(0));`

Also changed the order of corresponding strings in days array.

I think it would be a useful feature to add as an option.

[2018-01-08 14:25] qodesmith commented on #20
@liinavaker Thanks for pointing this out! Hadn't thought of this as an option before. Looking into it now...

[2018-01-10 09:12] WebTravel opened #21 "How reset selected date?"
I don't understand why don't create reset button date after user selected date? How reset date. If user want delete all dates on calendar?

[2018-01-10 20:32] qodesmith commented on #20
@liinavaker Aaaaaaaand we're live! New `startDay` option added. An example:

[code]

0 = Sunday
1 = Monday
2 = Tuesday
etc...

Thanks for the feature idea!

[2018-01-10 20:32] #20 closed

[2018-01-10 22:48] qodesmith commented on #21
There's now a `reset` method which achieves what you want. Here's a working example:

[code]

Thanks for the suggestion.

[2018-01-10 22:48] #21 closed

[2018-01-15 13:09] WebTravel opened #22 "'qs-arrow' selector click function don't call onMonthChange"
Hello. Thanks for your plugin.

But, I click 'qs-arrow' selector and this code don't work

`onMonthChange: function(instance) {
    // Show the month of the selected date.
    console.log(instance.currentMonthName);
  }`

Besides, I think you need to create a property 'disableOutMonth'. This property prevents you from changing the date range that is declared 'minDate' and 'maxDate'.

Example:

`{

[2018-01-28 10:12] gety9 opened #23 "Can i achieve vertical scroll with this lib?"
Guys hi,

As the title says i am wondering if i can achieve vertical scroll with this lib

Something like [this](https://puu.sh/zaV6H/34b520258c.png).

[2018-01-29 16:30] qodesmith commented on #22
@WebTravel I'll look into this.

[2018-01-29 16:32] qodesmith commented on #23
Hey @gety9. This datepicker doesn't change months via vertical scrolling, only by clicking the arrows.

[2018-01-29 16:32] #23 closed

[2018-03-05 19:53] renansan opened #24 "Esc key switches calendar view to "Year Navigation" and vice versa"

[2018-03-29 06:40] Pixelrobin opened #25 "LICENSE?"
I don't see a license listed anywhere, is that on purpose?

[2018-03-29 08:33] qodesmith commented on #25
In the `package.json` the license is listed as `ISC` but I'm pretty sure that's just the default. In any case, nothing was omitted on purpose. This library is free to use however you want. No if's, and's, or but's about it! Free free free. I should probably create a license section in the readme soon just to avoid any confusion.

[2018-03-29 08:33] #25 closed

[2018-03-29 08:41] Pixelrobin commented on #25
I brought it up because it appears that repositories without explicit licenses are [considered to be the author's sole property](https://stackoverflow.com/questions/4007674/whats-the-default-license-of-code-published-at-github). Also, the ISC license is functionally identical to MIT, both of which are probably what you're looking for if you want it "free".

[2018-03-29 08:54] qodesmith commented on #25
@Pixelrobin Ahhh, I didn't know that. Thanks for the heads up. Yea, I never intended for this to be exclusive material. I'll update the readme. Thanks again!

[2018-03-29 17:15] wspresto opened #26 "Multiple Define error"
When using this library with another require style library such as dojo, i know.. forgive me, defining the library after or following the dojo library causes a multiple define error to be thrown.

In your typical index.html file:
src="dojo"
src="js-datepicker"

ERROR

Reversing the order so that the datepicker is first resolves the issues.

[2018-04-11 07:46] webestet opened #27 "Add feature "dateDisabled""
Hello. Thanks for your package.

But, I can't send date array, which `disable` this date. For example I want to exclude 11 April and 13 June. If I will can to use options
`dateDisabled: [
  new Date(2018, 3, 11),
  new Date(2018, 5, 13)
]` and this date switch to `qs-disabled`, I will enjoy :+1: )

[2018-05-01 03:17] jpcmf opened #28 "datepicker + webpack"
I'm trying to use the plugin with webpack. The datepicker is loading in vendors.js and in app.js I call the datepicker but i'm getting this error `datepicker is not defined`. Any help?

[2018-05-01 03:29] jpcmf commented on #28
Yes, check https://github.com/jpcmf/JPCars-JavaScript

[2018-05-01 13:27] qodesmith commented on #28
I noticed what you were doing for jQuery and I wonder if this is needed for the datepicker also:

[code]

Try this and let know if this works.

[2018-05-02 00:50] jpcmf commented on #28
I was adding the plugin in the wrong place:
[code]
Like you said, the right place is adding in the ProvidePlugin:
[code]
It's working @qodesmith
Thank you

ps. There's a way to add only the year?

[2018-05-02 00:50] #28 closed

[2018-05-12 17:31] qodesmith commented on #22
Now that I look at things again, I don't think `disableOutMonth` is necessary since the min & max date ranges disallow selecting dates outside the range. And from a UX perspective, it seems that clicking the next month button but not getting that month translates to "something is broken" as opposed to "you're out of range". Going to leave it the way it is for now, but thanks for the suggestion.

[2018-05-12 17:34] qodesmith commented on #24
@renansan Just noticed this now as well. The intended behavior was to allow the user to press the esc key when the "year navigation" portion was open, behaving synonymous to "cancel". But I see that it triggers when the calendar is in view. Working on a fix now.

[2018-05-12 17:39] qodesmith commented on #24
Fixed!  Now the esc only toggles the year overlay when it's open.

[2018-05-12 17:39] #24 closed

[2018-05-12 17:46] qodesmith commented on #26
@wspresto I gotta be honest, I'll have to claim ignorance on this one. Not very familiar with the order sensitivity of require style libraries. Have you discovered a reason for things working when datepicker is required first?

The code at the top of the unminified code looks like this:
[code]

It's basically checking to see which object to attach the datepicker function to. In the browser, that's

[2018-05-12 17:48] qodesmith commented on #27
@webestet Good idea. Hadn't thought of that before. Let me look into it...

[2018-05-12 19:28] qodesmith commented on #27
@webestet Version 3 published! You can now supply an array of dates to be disabled in the `disabledDates` option.

[2018-05-12 19:28] #27 closed

[2018-05-13 05:29] webestet commented on #27
Thanks)

[2018-05-18 23:23] Lambo232 opened #30 "Minimal example does not work"
The minimal example does not work.  It requires a dateSelected.
The minimal example is:
`var picker = datepicker('#dp', {dateSelected: new Date()});`

[2018-05-18 23:37] Lambo232 opened #31 "'Fixed' Positioning option for small devices"
This is a great datepicker, ideal for what I needed.  However I had a problem positioning the calendar on a small device such as a mobile phone in portrait mode where all of the current options often end up with part of the calendar off screen.

I have modified the code to include a 'fixed' positioning option that positions the calendar in the middle of the view port.  I have attached the
[datepic

[2018-05-18 23:48] qodesmith commented on #30
@Lambo232 Excellent catch. You shouldn't have to pass in any options at all for the minimal example. I'm looking into it right now.

[2018-05-18 23:55] qodesmith commented on #30
@Lambo232 Fixed! You can now use the minimal example like so:

[code]

[2018-05-18 23:55] #30 closed

[2018-05-19 00:49] qodesmith commented on #31
@Lambo232 Thanks for the idea. I took a look at your code and implemented things in a similar way. There's now a new position option which achieves what you wanted:

[code]
Instead of setting the `style` attribute, I'm using a class in the css to do the heavy lifting. Also, just as an aside, I tried playing around on mobile and didn't have any issues with the Calendar not showing or being cut off.

[2018-05-19 00:49] #31 closed

[2018-05-23 03:30] pengjinlong opened #32 "disabledDates dosent's work"
here is my codes

var options = {
            minDate: new Date(),
            position: 'c',
            customMonths: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            customDays: ['周天','周一','周二','周三','周四','周五','周六'],
            disabledDates: [new Date('27/6/2018'), new Date('28/5/2018')],
            onSelect: function(instance) {
                // Show which date

[2018-05-23 12:39] qodesmith commented on #32
@pengjinlong I just ran your code. The issue is the dates you are providing are invalid. Typing these into Chrome's console reveals the issue:
<img width="215" alt="screen shot 2018-05-23 at 8 38 03 am" src="https://user-images.githubusercontent.com/11034792/40424840-a6c8a26e-5e64-11e8-80c4-3ee66b0490f4.png">

Did you mean something like `new Date('6/27/2018')` instead? Try that and see if that's

[2018-05-23 12:57] qodesmith commented on #32
Ok, new version published. Now, you will see this error in the console when providing an invalid date:
<img width="584" alt="screen shot 2018-05-23 at 8 56 52 am" src="https://user-images.githubusercontent.com/11034792/40425782-5682a9be-5e67-11e8-9f5b-4632cc90a084.png">

Let me know if you have any more issues!

[2018-05-23 12:57] #32 closed

[2018-05-23 12:58] #26 closed

[2018-05-25 16:56] spencerfinnell opened #33 "Input Gains Focus State Instead of Triggering Display"
When using the input to try to trigger the picker on iOS (Safari and Chrome) the input is simply focused instead of displaying the picker.

I have tried adding `readonly` as well.

Possibly related #13

[2018-05-29 21:16] Lambo232 commented on #33
I can confirm a similar problem.  Works for my app on iphone 7s (ios11) but not on ipad (ios11).   Also a problem on some Android devices eg. works OK on Samsung Galaxy 7 phone but not on Neos tablet.  In my application (popup from icon rather than input element) the datepicker pop's up OK but unable to select either a date or the next/previous month buttons.

[2018-05-30 04:01] Lambo232 commented on #33
OK, I think I have found the problem.  The datepicker code is written using the "new" javascript ES6 constructs. A lot of mobile devices out there do not support ES6.  You can test for ES6 with the following snip:
[code]
The only solution I can see is to develop a version using the ES5 standard.

[2018-05-30 13:42] qodesmith commented on #33
@Lambo232 This library uses the minified `datepicker.min.js` file, which is all ES5. The issue is something different. I'm looking into it.

[2018-05-31 01:44] Lambo232 commented on #33
Ah-ha, that explains some of the the issues that I have been having, I assumed the the minified version was ES6 as well.  To try to find my problem I was using the debug version and that is when I had the ES6 issues, damn, I have just spent a couple of hours converting it to ES5 so it would run on the problem devices.

Anyway I have found the "bug" that was causing my problem.  I will submit it as

[2018-05-31 01:50] Lambo232 opened #34 "Problem using includes with dom elements on some devices"
It appears that some devices do not support the use of includes for looking for a dom element.

In the debug version on line 644
[code]
will not work on some devices.

A simple fix is
[code]
which seems to work on all devices I have tested.

[2018-06-01 18:29] qodesmith commented on #34
@Lambo232 I'll have to dig in a big. Very interesting.

[2018-07-04 15:19] qodesmith commented on #34
Finally got around to looking at this. You're right. I didn't realize that DOM nodes had the `contains` method on them. That's a much better solution and I was able to get rid of more code too! This is fixed in the latest version, 3.2.1.

[2018-07-04 15:19] #34 closed

[2018-07-10 06:35] nkovacic opened #35 "Feature: Possibility to disable year overlay"
Would be a great feature if you could disable the year overlay using a simple boolean in options.
Great work on the picker btw, its really lightweight and can be used in other frameworks :)

[2018-07-10 17:30] qodesmith commented on #35
@nkovacic  I like this idea! I'll implement it and let you know when it's done.

[2018-07-11 00:51] qodesmith commented on #35
@nkovacic It's in the latest release, 3.3 :)

[2018-07-11 00:51] #35 closed

[2018-07-17 12:34] DejanBelic opened #36 "Not working on iOS devices."
On Android it works perfectly, but on any ios devices, it doesn't work at all... Was inspecting in browserstuck but there is no error or anything it just not trigger or instanciated datepicker I guess. Any ideas?

[2018-07-17 12:36] qodesmith commented on #36
I've been meaning to getting around to testing this on my wife's iPhone. You're not the only one to point out [issues](https://github.com/qodesmith/datepicker/issues/33) with the iPhone, so it's definitely valid. I'll look into this hopefully in the next day or two and have some insight.

[2018-07-17 12:39] DejanBelic commented on #36
This is the fastest response in the history of a web for sure. Thank you for pointing that out, I've missed it. Also as I've written It doesn't trigger at all instance, though I've added click event on the instance and it triggers the calendar and opens it, nothing works it can't be closed selected or anything.

[2018-07-17 12:43] qodesmith commented on #36
Haha, thanks. This is definitely weird for sure. I don't have an iPhone so I can't even play around with it until I get home and use my wife's. I'm very interested in the why behind all of this. I'll keep you posted and hopefully I have a fix real soon!

[2018-07-17 12:44] DejanBelic commented on #36
Thank you! Hope you'll solve this :)

[2018-07-18 12:16] baspetersnl opened #37 "noWeekends: true and startDay: 1 causes monday and sunday to be disabled"
I'm useing datepicker with the following settings;

[code]

Because the first day is monday, now the monday and sunday are disabled (https://www.dropbox.com/s/1039sp29xscnddc/Schermafdruk%202018-07-18%2014.15.58.png?dl=0)

[2018-07-18 23:36] #37 closed

[2018-07-18 23:46] qodesmith commented on #37
@baspetersnl Fixed!

[2018-07-23 03:45] Rafferty97 opened #38 "Incorrect current date"
I've just implemented datepicker on a form, but it appears to be highlighting August 23 as today's date, as opposed to July 23 as it should. An off-by-one error?

[2018-07-23 11:00] qodesmith commented on #38
@Rafferty97 I just tried and everything looks fine to me. Can you post your code?

[2018-07-24 01:57] Rafferty97 commented on #38
@qodesmith

I think I've worked out the source of the error. It's because I live in the timezone GMT+8.

In the `createMonth` function, whether or not it is today's month is determined by comparing `today.toJSON().slice(0, 7)` to `date.toJSON().slice(0, 7)`. However, when `date` is serialized to JSON, it is also converted to GMT. Hence, on my browser `date.toJSON()` renders as `"2018-06-30T16:00:0

[2018-07-24 16:36] qodesmith commented on #38
Excellent find. I've just merged, rebuilt, & republished to npm. We're good to go!

[2018-07-24 16:36] #38 closed

[2018-10-13 14:48] qodesmith opened #40 "Implement daterange capabilities"
Let's get datepicker to also be a date _range_ picker!

Currently it's a really hacky process to make two datepicker instances function as a single date range picker. Within the [two-calendars](https://github.com/qodesmith/datepicker/tree/two-calendars) branch I'm currently working on adding date range functionality. You'll be able to tie 2 pickers together to form a range picker.

Stay tuned!

[2018-10-22 06:26] Abourass opened #41 "Bug / Enhancement: Multiple Datepicker on a page, with one invocation"
I'm using the class .fancyDatePicker (as I prefer yours over the one included in Materialize-CSS, and theirs already uses datepicker), and when you make multiple instances on a page only the first one works. The rest perform no action on being clicked. I realise I could make multiple invocation for each instance, but it'd be nice if they'd all work with the single invocation.

## Context
I'm makin

[2018-10-22 06:39] Abourass opened #42 "Bug / Enhancement: Multiple Instance with One Invocation"
I'm using the class .fancyDatePicker (as I prefer yours over the one included in Materialize-CSS, and theirs already uses datepicker), and when you make multiple instances on a page only the first one works. The rest perform no action on being clicked. I realise I could make multiple invocation for each instance, but it'd be nice if they'd all work with the single invocation.

## Context
I'm makin

[2018-10-22 22:38] qodesmith commented on #42
Not sure I follow... are you trying to attach multiple datepickers to the same element? That will throw an error. Check your console to make sure. For example, if you are doing this...

[code]

... then only the first calendar will work. Each calendar's element needs to be unique. You can't attach 2 calendars to the same element. Normally, the calendar is attached to an input field, so in the case

[2018-10-22 22:39] qodesmith commented on #41
I think this is a duplicate issue. See my comments on the [other ticket](https://github.com/qodesmith/datepicker/issues/42) you raised.

[2018-10-22 22:39] #41 closed

[2018-10-22 23:04] Abourass commented on #42
First, sorry about the duplicate, I submitted right as GitHub had downtime for issues -> https://status.github.com/messages

Second, my bad on not being more clear. What I was saying is that it would be nice to not have to initialize for every instance of the datepicker, as for my application that means 6 - 8 initialization per form page:
[code]
Not that that's a huge deal, but when making hundred

[2018-10-22 23:36] qodesmith commented on #42
I think I get what you mean. So let's supposed for your form you have 5 inputs, each needing a datepicker. And each of those inputs has the same class, let's say `.fancyDatePicker`. You want to do something like this...

[code]

... and have a datepicker automatically set up on each input? I could bake that feature into the library, but perhaps you simply need a helper function to do it for you. S

[2018-10-22 23:43] qodesmith commented on #42
Playing around with that shows I need to ensure that the original options object isn't mutated. Currently it is. I'm bout to push an update.

[2018-10-22 23:55] qodesmith commented on #42
Update pushed. Use the latest version & let me know about the helper fxn mentioned above.

[2018-10-28 13:52] qodesmith commented on #42
Closing this issue. Let me know if you still have troubles.

[2018-10-28 13:52] #42 closed

[2018-10-29 06:34] Abourass commented on #42
Hello,

Sorry about the long response time. I'm only hired for Monday and Tuesday, and last Tuesday I was out of town. So, I've brought in the latest version of the javascript and css sources, and set up the following:

[code]
However now I'm getting:
[code]

[2018-10-29 10:02] qodesmith commented on #42
Hey @Abourass . You were using the original `multiPickers` function I gave you in the wrong way. It functioned under the assumption that each `<input>` had the same class and only took 2 arguments - a single selected and an options argument to pass down to datepicker. In your case, since you have a unique id for each input, you can do this instead:

[code]

[2018-10-29 10:06] qodesmith commented on #40
This work has now moved to the [two-instances](https://github.com/qodesmith/datepicker/tree/two-instances) branch.

[2018-10-30 17:15] Abourass commented on #42
Ahh that makes sense, I switched to .fancyDatePicker and it works perfectly. Thank you so much! This is absolutely perfect, I can't thank you enough.

[2018-10-30 20:57] qodesmith commented on #36
Ok, it's been waaaaay too long, but I finally got my hands on an old iPhone 5s. Looks like Safari doesn't like responding to click events for non-traditional-clicky elements - i.e. those that aren't a <a>, <button>, blah blah blah. I just tried testing with `touchstart` and it works. Let me see what I can come up with...

[2018-10-30 21:16] qodesmith commented on #36
You guys aren't going to believe this... According to my experiments, it was all because I was attaching my listeners to the `window` and not the `document`. You can see it on [this line](https://github.com/qodesmith/datepicker/blob/master/datepicker.js#L161). I'm at the tail end of a new version of the library that refines a lot of the internals and gives some new instance methods to enable you t

[2018-10-31 12:25] vccampbell opened #43 "IE11: Object doesn't support property or method 'assign'"
IE doesn't support this method. Any workarounds?

Thanks!

[2018-11-02 00:56] qodesmith commented on #43
@vccampbell Just pushed a change and removed the Object.assign. Whatever error you were seeing, you shouldn't see it anymore.

[2018-11-02 00:56] #43 closed

[2018-11-02 01:07] qodesmith commented on #36
I've pushed a fix to the master branch for iOS folks. Happy datepicking!

[2018-11-02 01:07] qodesmith commented on #33
I've pushed a fix to the master branch for iOS folks. Happy datepicking!

[2018-11-02 01:07] #33 closed

[2018-11-05 17:27] jrmgx opened #44 "[Question] Programatically show the calendar?"
I did look for the doc about this but it does not seem to be possible,
still I'm asking: is it possible to programatically show the calendar?
Something like

[code]

The goal is to include the calendar in a more complex user flow than a simple click on an element...
Meanwhile I may just simulate a click to the bound class but it is not optimal.

Thank you for your great job!

[2018-11-05 18:01] qodesmith commented on #44
@jrmgx At the moment there isn't, but I've been working on a new release and it will include both a show & hide method for calendar instances:

[code]

There will be a host of other API methods you'll be able to use. It's overdue. I've been finishing up the work with writing the tests, but I think I'll push a version today and finish up the tests after. I gotta get this out.

[2018-11-05 18:09] jrmgx commented on #44
OMG this would be amazing,
I was going to fork and add it myself as the trick by using click event
isn't working so great.

Keep up the good work :)

On Mon, 5 Nov 2018 at 10:01, Aaron Cordova <notifications@github.com> wrote:

[2018-11-05 18:14] qodesmith commented on #44
FYI, you can see the progress I'm making in the [two-instances](https://github.com/qodesmith/datepicker/tree/two-instances) branch. That README has all the latest documentation (for this next release) minus the show & hide methods. I literally just added them now thanks to you! You can see the other API methods that are coming [here in the code](https://github.com/qodesmith/datepicker/blob/two-ins

[2018-11-05 19:03] jrmgx commented on #44
I've seen your changes here fc9a851bc7d718b3c0a9dd4cc485a27c37533152 and I am very grateful,
does it need some kind of build pass now? Because I don't see those new method in the min version of the lib...

[2018-11-05 19:07] qodesmith commented on #44
I haven't build the minified version, so you're correct. And this is still all on the two-instances branch. I'm going to merge to master today and just deal with writing all the rest of the tests later.

[2018-11-05 19:09] jrmgx commented on #44
Ok, no rush, I will build it myself and do my dev with this version, I can wait a few days...
You're already did way too much for today :p

[2018-11-05 19:09] qodesmith commented on #44
Just pushed a built minified version. You can use that.

[2018-11-05 22:03] jrmgx commented on #44
Thanks to you I was able to include the datepicker into an existing date-time picking flow
see
![nov-05-2018 13-59-44](https://user-images.githubusercontent.com/42989/48029623-7d693b00-e103-11e8-85fc-9ecb571843d4.gif)
With the new v4 you just pushed, I guess this issue is worth closing now.

[2018-11-05 22:45] qodesmith commented on #40
Done in V4 which was release today!

[2018-11-05 22:45] #40 closed

[2018-11-05 22:46] qodesmith commented on #44
@jrmgx Dude, that looks great!

[2018-12-10 20:41] patrikrazem opened #47 "Manual date input"
Maybe this is actually a feature and I just don't understand the point of it, but why is manual typing of the date prevented? More specifically, why is the manual input limited to 4 numbers?

I can see this making sense in the custom "Year" input, but why not have the ability to let the user enter a custom date in the field?

[2018-12-10 20:52] qodesmith commented on #47
@patrikrazem You just found a bug :)  This behavior was mistakenly applied to *all* inputs on the page whereas my intention was to only apply it to the year overlay input. I'll whip up a fix. Thanks for pointing this out.

[2018-12-10 20:58] #47 closed

[2018-12-10 21:00] qodesmith commented on #47
Ok, the fix is up. Let me know if there's still a problem.

[2018-12-10 21:03] patrikrazem commented on #47
Just updated the npm module and it works as expected. Thanks - that was quick :)

[2018-12-11 08:36] skyflyer opened #48 "IE support: Array.find is missing"
With reference to #19, #43, we've found out that Array.find is not supported. [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find) includes a simple polyfill, which could be used, or the code could be adapted to use `.indexOf` instead.

The code that uses `.find`: https://github.com/qodesmith/datepicker/search?q=.find&unscoped_q=.find

I can prepare a

[2018-12-11 12:23] qodesmith commented on #48
Looks like I have to tweak my Babel setup. I'll have a look & push a fix. Also, if there's any other IE related issues, please let me know! Thanks.

[2018-12-11 14:06] qodesmith commented on #48
Fixed. Instead of going down the polyfill route with Babel & friends, I simply switched to other supported array methods to accomplish the same tasks. You can `npm install` to the latest version, 4.0.8. Let me know if this fixes the issue. I'll keep this open for a while.

[2018-12-11 19:51] skyflyer commented on #48
So I played a little with weback on windows and IE11. After changing fat arrow syntax in sandbox.js and introducing `@babel/polyfill` datepicker started working in IE11. I don't anything about `@babel/polyfill` but it is apparently required if you want to support older browsers. I added `@babel/polyfill` into the `entry` array, as documented on their page: https://babeljs.io/docs/en/babel-polyfill

[2018-12-11 20:19] qodesmith commented on #48
@skyflyer If you're referring to adding all this to your own project, then yes, I think this is the right way. But this should have nothing to do with getting datepicker.js to work correctly. My concern is for it to work out of the box, so after the push I made today any errors you're seeing should be a result of other things in your project. A few thoughts though...

I'm not familiar with the `no

[2018-12-12 06:10] skyflyer commented on #48
@qodesmith, I guess my comment was not very clear and perhaps I even misunderstood the intent of the library.

The js-datepicker, as it is with version `4.0.8` does not work in IE 11, when referenced. I'm not sure whether you were able to test it in IE11 tested that or not, but the error reported is `'Symbol' is undefined` and I believe this is due to babel transpiling.

It is my understanding tha

[2018-12-12 11:03] qodesmith commented on #48
Now I see what you mean. Yes, you are absolutely correct. This library should be able to be used right out of the box in IE 11. I'll look into it.

[2018-12-12 11:08] qodesmith commented on #48
So I was a bit confused why Babel was even putting the Symbol stuff in there. Turns out that if you use the spread operator in your code - `{ ...obj1, obj2 }` - then Babel uses the Symbol stuff. I'm going to take another pass at my source code and see if I can refactor a bit. I want to get to the point where Babel is only transpiling ES6 => ES5 without the need for any polyfills. Stay tuned...

[2018-12-12 11:12] skyflyer commented on #48
This makes perfect sense. Out of curiosity: why aren't you using Typescript? To me, that is pure awesomeness :) No babel required.

[2018-12-12 11:33] qodesmith commented on #48
Eh, I'm not a fan of the TS syntax 😛 Try the latest version, `4.0.9` and let me know if that solved the issue. Fingers crossed...

[2018-12-12 11:55] qodesmith commented on #48
It's still not working. I have IE11 on my home computer but I have to leave now. I'll fool around with Babel settings and see if that works.

[2018-12-12 11:57] skyflyer commented on #48
Just tested, the `Symbol` is still present. :(

[2018-12-12 12:42] qodesmith commented on #48
Ok, I just removed `@babel/preset-env` since that's mainly to allow you to use the latest JS and I'm not really doing anything fancy but some basic ES6 syntax. Since I'm not at home and can't test on IE11, I looked at the minified code and this ended up removing a reference to Symbol. Try it again and let me know how things go.

[2018-12-13 11:57] qodesmith commented on #48
Turns out, after some deep searching, it's array destructuring that causes Babel to use Symbol. I'm looking into how to *only* include that polyfill as I don't want to bloat this package.

[2018-12-17 21:31] skyflyer commented on #48
Hello Aaron! Did you manage to get this working in some way with babel? I understand that you don't want to drag the polyfill baggage into the final package; not sure if there is a way around it, unless not using array destructuring syntax?

[2018-12-17 21:35] qodesmith commented on #48
Hey, sorry about the delay. Been a bit busy here. Prepping for a talk at the ReactNYC meetup tomorrow. I'm dusting off the mic and spitting 48 bars of fuego with the beat done by Ken Wheeler. Anyways, yea, I might have to get rid of array destructuring. But my instinct is there's gotta be a way to include *just* that transformation with Babel instead of all that other stuff.  I'll pick it back up

[2018-12-20 20:14] skyflyer commented on #48
Hey Aaron! I hope your talk went well. Will you be able to find some time to fix this? Is there anything I can do to help?

[2019-01-03 09:03] skyflyer commented on #48
Aaron, happy New Year! :)

Will you be able to test this, or should I create my own private release with the babel fix?

[2019-01-07 14:22] litemotiv commented on #48
I'm running into the same issue where 4.0.10 is breaking on IE11, using the unpkg version:

https://unpkg.com/js-datepicker@4.0.10/dist/datepicker.min.js

IE11 produces a syntax error on the fat arrow on column 1583.

[2019-01-07 14:32] litemotiv commented on #48
@skyflyer, i'm using the minified datepicker standalone as an include so not through npm

[2019-01-07 14:38] qodesmith commented on #48
@skyflyer @litemotiv I haven't been able to prioritize time for this. If you have a fix outside the including this library in your own bundle, feel free to make a PR. Otherwise, I'll take another swing when things calm down over here.

[2019-01-30 20:09] codequestions opened #49 "disabler: mulitple days?"
Hello. Thank you for this plugin.

Is it possible to disable multiple days of a week with disabler? For example, a location is only open on Mondays and Thursdays so cannot accept payment on other days, therefore disable (noWeekends:true and disabler: multiple days). I think I must be reading the docs wrong.
Thank you

[2019-01-31 21:52] #49 closed

[2019-02-14 19:53] Abourass opened #50 "Feature Request: Month Selector"
Hello again!
Been using your datepicker's in our app for a bit now, and I absolutely love them. The only thing I'm asked consistently is if there is a way to change the overlay behavior so that once you type in a year, you are next shown the months, click your month, now shown the dates for that month. This would solve users that are in December having to click the arrow 12 times to get to Decembe

[2019-02-14 20:03] qodesmith commented on #50
That's a great feature request. I think that makes a better user experience / workflow for this calendar. Stay tuned...

[2019-02-23 21:28] open-environment commented on #44
any example code on this? I'm trying to get this to work but coming up short.

HTML
`                                    <div class="input-group date" data-provide="datepicker">
                                        <input autocomplete="off" class="form-control" data-val="true" id="Assessment_ASSESSMENT_DT" type="text">
                                        <div class="input-group-addon">

[2019-03-12 15:20] pawelgabryelewicz opened #51 "Babel preset-env removal breaks compatibility with IE"
Hi, in 4.0.10 you have removed babel preset-env from your webpack config claiming that it's no longer used. In fact it was - compare your minified builds from `dist` between 4.0.9 and 4.0.10. The latter doesn't work on IE because arrow functions appeared in the compiled code (that should be ES5-compatible). I think you should bring it back (and by the way switch to a different building tool such a

[2019-03-13 10:56] qodesmith commented on #51
You're absolutely right. I was trying to iron out webpack and IE issues a few months ago but put it down because things got busy over here. I'll try to resolve it soon.

[2019-04-16 13:06] merakhi opened #52 "year and month are not changed, when date is selected from different year( after deselecting the previous date )"
In the below image i have selected 1st dec 2018 date
<img width="237" alt="todate-inital" src="https://user-images.githubusercontent.com/27452811/56211466-993f1880-6075-11e9-90b1-db478331fcf0.PNG">

then i de-selected it
<img width="296" alt="to-date2 deselect" src="https://user-images.githubusercontent.com/27452811/56211507-acea7f00-6075-11e9-9cc1-da8a334aa31e.PNG">

and again when i select 5 apr

[2019-04-19 10:43] RakeshGowdaM commented on #13
Hi, ngb date picker is working fine on mobile and desktop. Only on ipad it's not working. As soon as I click on month or year the calander is getting close. Not able to select the date on ipad tab

[2019-04-28 08:40] sfusato opened #53 "Feature Request: disableIfDateIsSupported"
This would be similar to the already existing `disableMobile`, but it would disable the plugin if the browser natively supports the `type="date"` field of an input.

Basically, the plugin will become just a fallback in case the browser doesn't have a native date picker solution.

Possible code for checking if the browser supports `type="date"`:
[code]
Source: https://developers.google.com/web/upda

[2019-05-03 17:57] cebindani opened #54 "Readonly field trigger click event"
We have a following problem: set a input as disabled does accessibility ignores the field. To avoid this, I set input field as readonly, but click event still open datepicker.
That's a way to remove a click listener by demand, without remove datepickers instance?

[2019-05-11 14:34] sfusato commented on #44
I have a similar usecase as @jrmgx (by selecting a specific option from a drop-down, the calendar is shown).

What I tried:
1. using the `show` method => I could see the `top` and `left` css properties appear in the `style` attribute of the calendar and the `qs-hidden` class highlighted by Chrome, but not removed. So, the calendar wasn't showing;
2. manually removing the `qs-hidden` class => class

[2019-05-13 18:12] aharris opened #55 "WCAG 2.0 Accessibility coverage."
The following issues presented themselves when running this through an accessibility tool:

![image](https://user-images.githubusercontent.com/713398/57643990-17191580-7589-11e9-9a0e-74f9811ebe8e.png)

Is it possible to get `aria-label`s applied to these elements?

[2019-05-15 14:35] cebindani commented on #55
@aharris A person with disability it's not capable to using a datepicker. Most recommended in this case is to able manual input in datepicker field.
In my project, we put aria-hidden in both datepicker container and input.qs-overlay-year to avoid accessibility issues.

[2019-05-19 13:17] qodesmith commented on #48
Just settled down in a new job so I'll be taking another look at this. Going to use Browserstack to emulate older versions of IE to iron out the kinks.

[2019-05-19 13:18] qodesmith commented on #51
Just settled down in a new job so I'll be taking another look at this. Going to use Browserstack to emulate older versions of IE to iron out the kinks. I plan on finalizing the Webpack config.

[2019-05-19 13:19] qodesmith commented on #52
Thanks for your patience. Just settled down in a new job so I'll be spending some time on resolving bugs.

[2019-05-19 13:19] qodesmith commented on #54
Thanks for your patience. Just settled down in a new job so I'll be spending some time on resolving bugs.

[2019-05-21 14:54] Roye7777777 opened #56 "Display dates of previous and next month within current month"
Not an issue, rather a suggestion: by default, when displaying the days within a month, there are empty spaces on top and on bottom on the location where the days of the previous and next month should be. Could there be a way to display those days (in a different markup, like how weekends can be given a different markup) through a setting? Sometimes, design-wise, one could want to enable this.
In

[2019-05-29 07:22] payalpedkar commented on #13
@RakeshGowdaM
Hi I am facing same problem.
Any soultion?

[2019-06-18 17:16] TrejoCode opened #57 "ReferenceError: Cannot access 'datepicker' before initialization"
I used in React, when set a State to true

ReferenceError: Cannot access 'datepicker' before initialization

My code:
 const datepicker = datepicker('#birthDay');

[2019-06-18 22:57] qodesmith commented on #44
@sfusato Install the latest version. There are now `show` and `hide` methods. You can see them in the [instance methods](https://github.com/qodesmith/datepicker#instance-methods) section of the documentation.

[2019-06-18 22:57] #44 closed

[2019-06-18 23:20] qodesmith commented on #48
Just updated the library. Let me know if you continue to have any issues.

[2019-06-18 23:20] #48 closed

[2019-06-18 23:21] qodesmith commented on #51
@pawelgabryelewicz Just updated the library. Babel's preset-env has been reintroduced.

[2019-06-18 23:21] #51 closed

[2019-06-18 23:24] qodesmith commented on #52
@merakhi Try downloading the latest version. I'm unable to reproduce this.

[2019-06-18 23:31] qodesmith commented on #53
This feels like logic that should reside in the users code as opposed to an addition on the library.

[2019-06-18 23:33] qodesmith commented on #54
Hey @cebindani, I'm not sure I understand. Are you saying that when you set an input to disabled - `<input disabled />` - that you want to make sure the calendar doesn't open?

[2019-06-19 01:04] qodesmith commented on #55
This library doesn't create the `<input />` element, so it's up to you to add the attributes. You're free to apply whatever attributes you want.

[2019-06-19 01:04] #55 closed

[2019-06-19 01:16] qodesmith commented on #57
Not that you should be using this library with React, but I just tried it and it worked perfectly fine. Here's an example component using hooks:

[code]

[2019-06-19 01:17] qodesmith commented on #56
That's not a bad idea. Let me look into it and see what the effort would be.

[2019-06-19 01:19] aharris commented on #55
@qodesmith. If you look at the screenshot above that element is coming from your library not the parent element. After closer review of this library I also discovered it is not keyboard accessible which makes any other accessibility's fairly null and void. This seems like a nice library but without accessibility for all users I had to go a different route.

[2019-06-19 01:23] qodesmith commented on #55
Ooooo, I see. You're not talking about the input that the calendar attaches to, rather, the input for the year. Sorry about that. It would be pretty easy to expose an option that lets you put whatever attributes you want on the year overlay input.

[2019-06-22 15:46] #57 closed

[2019-06-22 15:47] #53 closed

[2019-06-22 15:47] qodesmith commented on #52
Let me know if this is still an issue and I'll reopen this. Closing for now.

[2019-06-22 15:47] #52 closed

[2019-06-22 19:42] qodesmith commented on #50
@Abourass I know it's been a while, but just wanted you to know that I'm working on this as we speak :)

[2019-06-24 16:05] Abourass commented on #50
Awesome! Extremely glad to hear that :+1: :smile:

[2019-06-24 22:24] cebindani commented on #54
The problem is when I set input as `readonly` the calendar should not open.

[2019-06-25 10:11] qodesmith commented on #50
@Abourass Aaaaaaand we're done. The [customOverlayMonths](https://github.com/qodesmith/datepicker#customoverlaymonths) feature has been happily implemented 😎

[2019-06-25 10:11] #50 closed

[2019-06-25 10:13] qodesmith commented on #50
To be clear, the months list is now a permanent feature of the overlay. You also have the ability to customize it if you'd like. But navigating months by clicking the arrows isn't your only option anymore. Thanks for suggesting this feature!

[2019-06-25 10:15] qodesmith commented on #54
Ahhh, I see what you're saying. Ok, let me look into this.

[2019-06-25 22:14] qodesmith commented on #54
@cebindani Done! The new feature you'll want to use is [respectDisabledReadOnly](https://github.com/qodesmith/datepicker#respectdisabledreadonly). Set it to `true` and you should be good to go.

[2019-06-25 22:14] #54 closed

[2019-06-25 22:16] qodesmith commented on #54
Correction... the calendar opens, but it is unable to select a date or change the value of the input. Hence the `readonly` part.

[2019-06-26 01:26] qodesmith commented on #54
UPDATE: I just added the [disabled](https://github.com/qodesmith/datepicker#disabled) feature. Feel free to use that as well.

[2019-08-03 11:57] ksromero opened #59 "Year option base on max date"
Is it possible to have a year option that shows all of the year base on the max date?

[2019-08-04 10:58] qodesmith commented on #59
Were you looking to show _only_ the months in the overlay like this?
<img width="447" alt="Screen Shot 2019-08-04 at 6 54 19 AM" src="https://user-images.githubusercontent.com/11034792/62422722-fdb5d000-b684-11e9-8a5e-02b8b4f6d890.png">

If that's the case, you can achieve that by adding these custom styles to your stylesheet:
[code]

[2019-08-08 20:04] qodesmith commented on #59
Going to close this. I'll reopen if you this didn't solve your problem.

[2019-08-08 20:04] #59 closed

[2019-08-18 12:09] yan-010 opened #61 "Datepicker opens on init ver 5.0.0"
After updating to the new 5.0.0, after the datepicker component is created first time on init it opens automatically.

datepicker.hide() is not working for the first time on init, then works normally

[2019-08-19 19:10] Abourass commented on #61
Same here

[2019-08-20 00:24] qodesmith commented on #61
O no! Ok, let me look into this.

[2019-08-20 11:24] qodesmith commented on #61
@yan-010 @Abourass Fixed now in 5.0.1. Thanks for bringing this to my attention!

[2019-08-20 11:24] #61 closed

[2019-08-20 11:28] yan-010 opened #62 "[Suggestion] Add ChangeLog"
Please add change log with your releases

Thank you

[2019-08-20 11:58] qodesmith commented on #62
https://github.com/qodesmith/datepicker/pull/60

[2019-08-20 11:58] #62 closed

[2019-08-20 12:55] yan-010 opened #63 "5.0.1 => auto open and style problem"
After updating to 5.0.1 the datepicker is automatically opened on init and also there is a style problem, picture attached

![image](https://user-images.githubusercontent.com/54237993/63348880-de948f00-c362-11e9-9831-61bb79d96761.png)

[2019-08-20 13:27] qodesmith commented on #63
I just spun up a new test project, installed datepicker 5.0.1, and everything is working as expected. How are you importing the datepicker styles? And perhaps you need to clear cache to ensure the js for datepicker isn't stale.

[2019-08-21 07:07] yan-010 commented on #63
5.0.2 working good, thank you

[2019-08-25 06:33] #63 closed

[2019-09-22 15:48] andrejcremoznik opened #64 "Connected calendars UX issues"
Selecting dates on each calendar currently adjusts min and max date. This locks the range and unless you know to re-click the selected day, you can't get out of it.

* `minDate` should be used to set the earliest accessible date
* `maxDate` should be used to set the latest accessible date
* `maxDate` and `minDate` should be independent per instance
* selecting a date on the 1st calendar should set

[2019-09-24 05:33] osvaldodelr opened #65 "I need a tutorial for installing datespicker in the Express-handlebars template engine."
You could publish a written or video tutorial with the detailed step by step of how to install and configure the js-datespicker module in nodejs and express-handlebars, I would like to be able to use this component, but the documentation is not oriented to express-handlebars and already  I do not know what to do to make it work, you need me to send you images of my code just let me know I am atten

[2019-09-24 21:55] 0000marcell opened #66 ".toDateString()"
in the function setCalendarInputValue, toDateString is returning a date in other language other than the computer language on chrome 77.038, so when we select a date the date is in the wrong language

[2019-09-25 16:28] 0000marcell commented on #66
Maybe we could have a option to set the locale in the selected date
[code]

[2019-09-25 23:27] qodesmith commented on #64
Hey @andrejcremoznik. Some thoughts...

This is exactly how it's supposed to work. When dealing with a date _range_ picker, one would expect the selected range to be enabled and dates outside the range to be disabled. The bit about having to re-click detailed in the readme instructions so users should be aware.

---

This _is_ how the calendar currently works.

---

This isn't feasible for connect

[2019-09-25 23:37] qodesmith commented on #65
Hey @osvaldodelr. That's a bit out of the scope of a github issue, but maybe a I can shed a little light on your current setup.

For one, using express-handlebars has no effect on installing this library. [Installation](https://github.com/qodesmith/datepicker#installation) remains the same - `npm install js-datepicker` if you're using npm or just include `<script src="https://unpkg.com/js-datepick

[2019-09-25 23:37] #65 closed

[2019-09-26 00:46] qodesmith commented on #66
The usage of `toDateString` is the default option. What you'd want to do in your case is provide a custom [formatter](https://github.com/qodesmith/datepicker#formatter) option so you can format the date however you'd like.

[2019-09-26 00:51] qodesmith commented on #13
Is this still a problem with the latest version - 5.0.2?

[2019-09-26 09:29] andrejcremoznik commented on #64
Hey, so there's a fundamental difference between our ideas how range pickers should be. I'll try to explain on an example. Take a look at https://www.booking.com/

![Screenshot_20190926_110446](https://user-images.githubusercontent.com/761287/65674868-8af61f00-e04d-11e9-9c51-0038d4204a08.png)

**Today's date** (sep.26) is the first available date. It doesn't allow the user to select a date prior t

[2019-09-26 09:57] qodesmith commented on #64
I think I see what you're saying. In essence, the _selectable_ range should be set by the min / max dates, but a user should be free to click within those dates without having to re-click to unselect - it should just work since it's within the _selectable_ range, correct? If so, then I see why the extra class name is necessary because you would need a visual cue for the _select**ed**_ range within

[2019-09-26 10:05] qodesmith commented on #66
So for example, you would do something like this:

[code]

[2019-09-26 10:21] andrejcremoznik commented on #64
Yes, you're correct.

However, I think introducing a separate option to also configure range limits (e.g. no date before X, no date after Y) would be required, hence I'm suggesting the `rangeStart/rangeEnd` for the selected values and `minDate/maxDate` for actual limits. Semantically this would be more correct, but code wise you're probably currently using `minDate/maxDate` as selected values.

I

[2019-09-26 13:13] 0000marcell commented on #66
Thx, didn't notice this option in the documentation, gonna close

[2019-09-26 13:13] #66 closed

[2019-09-29 09:38] kristiansp opened #67 "Showing the calendar programatically doesn't work"
I'm trying to show the calendar programatically, but somehow it is not working. I've tried to narrow down what happens, and it all seems a little weird. It seems unable to remove the `.qs-hidden` class, even though it finds the right element, as far as I can see.

Looking in the developer tools in Google Chrome sees the class list of the container element flashing, but the class `.qs-hidden` stays

[2019-09-29 12:19] kristiansp commented on #67
Digging a bit further, it seems the only elements I can even get Datepicker to work with are `<input>` and `<button>` as the anchor element – in Chrome, that is. In Safari, only an `<input>` element will open the calendar, even on the main element. Trying to instantiate Datepicker on a `<div>` won't work at all.

If I try to work around by triggering the event on the main anchor from another butto

[2019-09-29 13:07] kristiansp commented on #67
Ok, one last thing that perhaps can help debugging. The only way I've so far managed to show the calendar programatically, triggered by another element than the anchor element, is to disable the calendar (not through options, that doesn't work, but by setting `picker.disabled = true;` in a function, and then manually removing the class `qs-hidden` from the element. Trying to enable the calendar af

[2019-10-04 10:12] #13 closed

[2019-10-04 10:57] qodesmith commented on #67
When the calendar is attached to a non-input element, clicking that element should show the calendar. Looking through the code, apparently I missed this scenario! Locally I've added this logic to the event handler and it's working in Chrome and Safari. I'll push a new update in a bit.

[2019-10-04 11:03] qodesmith commented on #67
@kristiansp Ok my friend, try the latest version - `5.0.3`. The `show` and `hide` methods seem to be working as well. Let me know if there's still issues. I'll wait a bit before closing this issue.

[2019-10-04 11:09] qodesmith commented on #64
I took a look at some daterange pickers we use here at Facebook, and they operate more like how you described. This will take me a bit to change so I might not have time to get to this right away. But I agree that this library should work the way folks are used to. You're the first person to mention it! Albeit the daterange functionality hasn't been out that long, but still. I appreciate the insig

[2019-10-12 22:36] kristiansp commented on #67
@qodesmith Ah, thanks! Will test it out!

[2019-10-17 10:35] qodesmith commented on #67
Going to close this issue. Let me know if there's still problems.

[2019-10-17 10:35] #67 closed

[2019-11-04 21:43] behler-young-insite commented on #48
I had the same problem but after importing core-js on my index.ts I didn't see the Symbol error anymore - though the bloat factor did jump a bit.

[2019-11-11 17:24] airblade opened #71 "How to show calendar only when an icon is clicked?"
Hello!

I have been reading through the code and I must say it is a breath of fresh air compared to some other datepickers :)

Anyway, I have an `<input type=text>` for a date and a little calendar icon next to it.  I can't quite figure out how to show the calendar when the icon is clicked (but not when the user simply focuses/types in the input field).

(Currently I have a click handler on the ic

[2019-11-12 13:18] airblade commented on #71
I figured it out: call `datepicker()` with the icon element, rather than the input field, and use `onShow` and `onSelect` to read/write the date from/to the input field.

[2019-11-13 11:11] qodesmith commented on #71
@airblade I started writing a second option, which is to put a click event handler on the icon and use the datepicker instance's `show` and `hide` methods to trigger the calendar, but this lead me to discover a bug! While I'm glad you found a working solution to your problem, I'm going to reopen this issue to fix the bug. Once fixed, I'll post some example code to trigger the calendar as mentioned

[2019-11-13 11:30] qodesmith commented on #71
Ok, turns out there _wasn't_ a bug, rather, I hadn't considered the flow of events in the browser. If you implement a click event on some element to toggle the calendar with the `show` and `hide` methods, it will work but the event bubbles and is then captured by datepicker's `oneHandler` event listener which will hide the calendar if it sees a click event _anywhere outside the calendar_. That mea

[2019-11-13 11:30] #71 closed

[2019-11-13 11:32] airblade commented on #71
Ah, that makes sense.  And I think this section option is simpler than my current approach.

Thank you!

[2019-11-15 10:26] avsdev-cw opened #72 "onHide triggers on every click event"
I have 2 datepickers connected (ie, start & end as described in the examples/docs) and an ajax callback in the onHide events of both.

I made an assumption that the onHide event would only trigger when it was actually hidden, but looking at these code section in I can see that its much cruder than that:
https://github.com/qodesmith/datepicker/blob/cf7b261c7e49953f221d80bd41bb6f19b6b880c5/src/datep

[2019-11-15 12:12] qodesmith commented on #72
Good catch. This is a bug and the `onHide` should only be triggered when that particular calendar is transitioning from visible to hidden. Working on a fix now.

[2019-11-15 12:22] qodesmith commented on #72
Fixed in 5.2.1.

[2019-11-15 12:22] #72 closed

[2019-12-16 15:08] CSIDev-CMF opened #74 "All clicks inside the DatePicker are bubbling to parent"
I've got a situation where a wrapper div is listening for all clicks inside it, to then perform a JS "click" into the input box.

This is typical UX for something like a checkbox, click the label and the checkbox is selected.

Our problem is we need to tell all clicks inside the datepicker (month selector/navigator) to withhold it's clicks and not allow them to bubble up to parent elements outside

[2020-01-10 08:47] epxfrho commented on #48
Hi, I still get the "symbol is undefined" error in ie11, using the minified datepicker version 5.2.1.

I've also tested it stand-alone outside my application:

[code]

error: **symbol is undefined** nearby '... function(e,t){if(!(Symbol.iterator in Object(e) ...' in datepicker.min.js

[2020-01-11 14:43] qodesmith commented on #74
Sorry for the delayed response. I'm currently working on finishing up writing tests with Cypress. Once that's done, I'll come back around to this.

[2020-02-18 11:06] sfusato opened #75 "date range: move end range calendar display month to the one selected in start range"
When using the datepicker in "range" mode, if you select a date from the future, say June 2020, in the `start` range calendar, the `end` range calendar will still display with current month when opened even though all the dates up to June 2020 are disabled.

Instead, it should open with June 2020 (as in my example) and save the user a few clicks.

[2020-02-18 12:23] qodesmith commented on #75
Good catch. I'm currently working on adding Cypress testing to this library, so as soon as that's done I'll get this going. I agree this should be the user experience.

[2020-02-19 09:52] gianlucalarizza opened #76 "IE11 datepicker issue"
Hello,
in Ie11 the script doesn't work.
In console we have : Syntax error --> datepicker.min.js (466,1)

Are you going to support it?
Many thanks for your work

[2020-02-21 11:40] qodesmith commented on #76
I'm working on a branch to add testing, and in that branch I've re-written then entire library to be es5 compliant. When I'm done, it should work well with IE11 and even further back. Stay tuned...

[2020-02-23 02:15] qodesmith commented on #76
@gianlucalarizza Version 5.3.0 is out. It's been totally re-written in ES5 syntax. Try that version and let me know if there's still issues!

[2020-02-23 02:21] qodesmith commented on #74
Hi @CSIDev-CMF. Sorry for the delay here. FYI, the newest version 5.3.0 is out, which includes a re-write in ES5 syntax - better support for older browsers.

For your issue, perhaps you could check in your onclick handler if the event originated from the datepicker. I'd imagine something like this:

[code]

Would that solve the issue for you?

[2020-02-23 02:51] qodesmith commented on #75
@sfusato This is now available in 5.4.0!

[2020-02-23 02:51] #75 closed

[2020-02-24 09:05] gianlucalarizza commented on #76
Hi @qodesmith , it work correctly. Many thanks for your good job. Cheers!

[2020-02-24 12:51] #76 closed

[2020-02-25 11:13] sfusato commented on #75
Awesome. Thank you!

Can you push 5.4.0 also to NPM? Thanks.

[2020-02-25 11:16] qodesmith commented on #75
Oops! Just pushed :)

[2020-02-26 17:11] DerekDenHartigh commented on #64
I ended up using this date-picker for a project and to make it so that your first datepicker will respect your initial minDate and your second datepicker will respect your initial maxDate and not reset those mins/maxs to the selected dates you can modify the adjustDateRanges function like this:
[code]
or if you're referencing the minified version for compatability:
[code]
replace with:
[code]

[2020-02-28 13:20] qodesmith commented on #74
Closing this. Let me know if it's still an issue.

[2020-02-28 13:20] #74 closed

[2020-03-01 04:26] DerekDenHartigh commented on #64
I need to make an adjustment to my solution - it resulted in a bug that when you deselected the second datepicker date it would set the maxDate to the deselected date.  to fix, replace:
```r.maxDate = r.originalMaxDate```
with
```a.maxDate = a.originalMaxDate```
this will cause the second datepicker to respect the min/max as set by the first datepicker of the pair - as the second datepickers mins/

[2020-03-09 11:56] Saconov opened #78 "remove() function"
When using the remove function of any datepicker, the following error occurs:

datepicker.min.js:4 Uncaught (in promise) ReferenceError: **prop** is not defined
    at Object.N [as remove] (datepicker.min.js:4)

However, declaring the prob variable within the datepicker.min.js file fixed this issue for me.
`for(**let** prop in n.remove()`
or in datepicker.js
`for (**let** prop in this) delete this

[2020-03-19 20:52] d2roth opened #80 "When clicking the start date in the second calendar the date is deselected"
I found a bug when selecting the end date to be the same as the start date. Essentially when you select the end date after the start date and then change it to the same as the start date the end date is unset.

Steps to reproduce:
2. Select Date 1
3. Select Date 2 after Date 1
4. Select Date 2 the same as date 1
5. Notice that the end date input field is cleared

Expected results:
The date range s

[2020-03-23 22:14] mrlg255 opened #81 "Triggering toggleOverlay"
Is it possible to trigger toggleOverlay on specified event (onShow etc)? Maybe adding option like "initialView": "dayPicker|monthPicker" would make it easier?

[2020-03-24 23:41] qodesmith commented on #78
Ahhh, good catch. I'll put up a fix.

[2020-03-24 23:46] qodesmith commented on #78
Done! Version 5.5.0 is out now.

[2020-03-24 23:46] #78 closed

[2020-03-25 00:01] qodesmith commented on #81
Can you explain a bit further? Not sure I understand. It sounds like you want the ability to trigger `toggleOverlay` in some manual fashion?

[2020-03-25 01:24] qodesmith commented on #80
Very interesting. Yup, I was able to reproduce this. I'll take a look.

[2020-03-25 12:36] mrlg255 commented on #81
Yes, I'd like to be able ot trigger `toggleOverlay` programmatically.
Another thing is that option to open overlay automatically after showing up datepicker would be nice addition - something like `startView` option in bootstrap-datepicker: [ref](https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=2&minViewMode=0&maxViewMode=4&todayBtn=

[2020-03-27 10:22] #80 closed

[2020-03-27 10:23] qodesmith commented on #80
5.5.1 is out with the fix. Good catch.

[2020-03-27 17:31] ikirkpat opened #82 "Saturday divs break to next line"
My saturday column wraps to the next line on MS Edge.

![broken_saturday_column](https://user-images.githubusercontent.com/49094893/77783149-c094b880-702e-11ea-993b-be0287c19c03.PNG)

I inspected and modified the cell width from `width: calc(14.2857%)` to `width: calc(14%)` and it worked fine so I'm sure it's something with the new line after each cell adding width but I'd obviously like to not ha

[2020-03-28 13:33] qodesmith commented on #82
What browser are you using?

[2020-03-28 13:40] qodesmith commented on #82
Also, can you try using `calc(100% / 7)` and tell me if that works? In the [SCSS](https://github.com/qodesmith/datepicker/blob/856818266d7ae11c36919b3391f634d64d6d6f8d/src/datepicker.scss#L221) that's what the calculation is, but apparently it's being rendered to a literal percent in the production css. Pretty sure browsers differ in how they calculate sub-pixel rendering. My hope is that if it st

[2020-03-29 15:26] qodesmith commented on #81
Looking into this now...

[2020-03-30 10:58] qodesmith commented on #82
@ikirkpat I'll need you to confirm before I merge this. Also, I downloaded Edge and couldn't reproduce this. Albeit, I'm on a Mac.

[2020-04-01 20:03] KillerCodeMonkey opened #85 "[Feature]: allow to enable days added by showalldates option"
The option `showAllDates` shows day overlaps with the previous and next month. It would be nice to have the ability to activate them as every other day in the current month.

https://www.npmjs.com/package/js-datepicker#showalldates

[2020-04-22 11:45] Danaika opened #86 "more weeks are shown"
Thank You very much for your “js-datepicker”!!!
I used this **datepicker(Version 5.6.0)** in my project. I installed it manually.
Unfortunately, I found some problem: datepicker shows more weeks than it has to, in some month.
For example: in June 2020 we will have 5 weeks, but datepicker shows 6 weeks.
Here is code:
[code]

Some screenshots are attached below.
<img width="280" alt="Screen Shot 202

[2020-04-22 11:49] Danaika commented on #86
P.S.: In first screenshot June 2020 is shown, in second screenshot - March 2021

[2020-04-22 12:21] qodesmith commented on #86
Hey @Danaika. So in looking into the code, I found [this line](https://github.com/qodesmith/datepicker/blob/master/src/datepicker.js#L775) that's causing the problem. I remember having to add it a while ago, but can't figure out why I did so! I'm playing around now to figure this out. Stay tuned!

[2020-04-22 21:11] lapagept opened #87 "tabindex for input input.qs-overlay-year"
Thanks for your great script.

I had a problem with input element of the year.

This input had tabIndex value = 0.

It breaks my navigation with "tab" key in my project.

So, I had to put this line in "onShow" event callback :
        document.getElementsByClassName("qs-overlay-year")[0].tabIndex = -1;

May be you could do something for this.

Thanks

[2020-04-22 21:15] qodesmith commented on #86
@Danaika Ok, this should be fixed now. Let me know if you still have issues!

[2020-04-22 21:15] #86 closed

[2020-04-22 21:27] qodesmith commented on #82
Ended up merging anyways.

[2020-04-22 21:27] #82 closed

[2020-04-22 21:31] qodesmith commented on #87
The code doesn't set a tab index for the year input within the overlay:

<img width="478" alt="Screen Shot 2020-04-22 at 5 30 22 PM" src="https://user-images.githubusercontent.com/11034792/80036037-07a38b80-84bf-11ea-8404-b934aeaf2781.png">

[2020-04-22 23:19] qodesmith commented on #87
Perhaps the browser assigns a default value of 0 if none is specified.

[2020-04-23 07:40] Danaika commented on #86
It's great! Thank You!!!

[2020-04-23 11:00] #87 closed

[2020-04-24 20:20] qodesmith commented on #85
Working on this now...

[2020-05-06 15:09] cargarn opened #92 "Navigation is not working"
I am trying to use "navigate" function, and it is failing:

picker.navigate(new Date(2020, 3, 3));

I got this error: ReferenceError: date is not defined

[2020-05-13 10:22] qodesmith commented on #92
I'm unable to reproduce this. Can you share the full datepicker setup you've got going?

[2020-05-13 10:27] #92 closed

[2020-05-13 10:29] qodesmith commented on #92
@cargarn Actually, you were right! Turns out I mistakenly had set `date` as a global variable inside the `navigate` function. So in environments using `'use strict'`, that would cause the error. This is fixed in 5.12.0. Thanks for the catch!

[2020-05-21 10:10] iammugik opened #93 "Object doesn't support property or method 'getRootNode'"
Datepicker not initialize in IE11 with error:
Object doesn't support property or method 'getRootNode'
Can you check please?

[2020-05-21 11:05] qodesmith commented on #93
@iammugik I think I see what's happening. Since this library supports usage with a shadow dom, I'm doing a check with `getRootNode` to determine wether or not we're in a shadow dom. This doesn't work with IE. I'll get a fix together.

[2020-05-21 11:28] iammugik commented on #93
@qodesmith great, thanks!

[2020-05-21 11:32] qodesmith commented on #93
@iammugik Ok, a fix has been pushed. Can you upgrade to 5.13.0 and tell me if it works for you now?

[2020-05-21 11:41] iammugik commented on #93
@qodesmith yes, it works! thank you for quick fix :)

[2020-05-21 11:42] #93 closed

[2020-05-22 13:27] qodesmith commented on #85
@KillerCodeMonkey This is now available in 5.13.0.

[2020-05-22 13:27] #85 closed

[2020-05-22 13:28] KillerCodeMonkey commented on #85
Nice :). Thanks

Aaron Cordova <notifications@github.com> schrieb am Fr., 22. Mai 2020,
15:28:

[2020-06-08 10:32] NachoFront opened #97 "Only two datepickers can share an id."
const picker = datepicker('.start',{ id: 1, });
const end = datepicker('.end', { id: 1 , })

<input type="text" id="date1" class="start">
<input type="text" id="date2" class="end">

[2020-06-08 10:41] qodesmith commented on #97
@NachoFront what are you trying to do? The `id` property is only intended to be shared by two pickers to form a date range pair.

[2020-06-08 10:59] NachoFront commented on #97
@qodesmith
how can i use 2 date pickers to display a range?

[2020-06-08 11:54] qodesmith commented on #97
What version are you using? Try using the latest which is `5.14.1`. I'm not getting that error with the latest version.

[2020-06-08 12:01] qodesmith commented on #97
Make that `5.14.2`. I just merged someone's PR with an unrelated change.

[2020-06-08 12:12] NachoFront commented on #97
tested 5.14.2 still not working
I have solved it like this:
`let time = (new Date()).getTime();

    this.datePickerStart = datepicker('#startDate', {
      alwaysShow:true,
      customDays: ['L', 'M', 'X', 'J', 'V', 'S', 'D'],
      customMonths: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      id:  time,
    });

[2020-06-08 12:13] #97 closed

[2020-06-08 12:30] qodesmith commented on #97
@NachoFront Given the fact that I see you're doing `this.datepickerStart...` leads be to believe whatever class method this datepicker code is in is probably being called _more than once_, and that's why you're getting the error. And since `let time = (new Date()).getTime()` will give you a new value each time it is run, it's now working.

I think you need to look through your code and see when th

[2020-07-18 03:05] tom2tom commented on #81
How's this coming along?
I too want to use this as a month-picker in some contexts

[2020-07-23 19:11] Roye7777777 opened #100 "An option to show week numbers"
Hello! I appreciate the datepicker and it's being used happily. I wonder, as a new feature request, will it in the future be possible to toggle numbers of the week on the left side? Thanks!

[2020-08-05 15:20] james-em opened #101 "Supporting strict mode"
Hi,

When using this library in strict mode, I am getting this error with uglify:

[code]

It would be great if the library could follow these specs :)

Thank you
James

[2020-08-05 16:22] MehbubRashid opened #102 "Require vs import"
Hi,in the documentation it is said that either of import and require will work.Where should i use which one?

[2020-08-09 12:41] qodesmith commented on #102
Typically, if you're using Node.js, you'll want to use `require(...)` since that's the syntax that Node.js uses. However, if you're writing modern ES6+ code and using something like Webpack to bundle your application code and dependencies, you probably want to use the `import` style.

[2020-08-09 12:41] #102 closed

[2020-08-09 12:45] qodesmith commented on #101
I use Webpack to bundle the entire library into a single function - and the code is already uglified with Terser, so I'm not sure how anything here is breaking specs. Is there anything else in the message? Otherwise I'm not sure it's Datepicker causing the issue.

[2020-08-09 12:53] qodesmith commented on #101
A quick google search shows that this error comes up when functions are declared in for loops or in conditional statements. I was able to find a single instance where [I declared a function in an if statement](https://github.com/qodesmith/datepicker/blob/a88a209e784da23e1bbffb0f896e6c764591c287/src/datepicker.js#L615-L618). I'll put up a change now :)

[2020-08-09 13:01] qodesmith commented on #101
Ok, just pushed `5.16.0`. All fixed.

[2020-08-09 13:01] #101 closed

[2020-08-10 14:11] ntbatyr opened #106 "How can I set default value"
Hi there! I implemented js-datepicker to my form and I wish to show default value to be formatted. I mean in my input I am going show html markdown instead js date object. And want to set default formatted value like
`<i class="fa-clock"></i>10.08.2020-09.08.2021`
How can I relize with your package? Any advices)

[2020-08-11 15:05] qodesmith commented on #106
You can use the [formatter](https://github.com/qodesmith/datepicker#formatter) option! Perhaps something that looks like this would work for you:

[code]

[2020-09-10 13:58] AureliusSlawinski opened #107 "Set startDay:1 and noWeekends: true will disable monday and sunday"
If setting these options:

startDay:1
noWeekends: true

Will disable monday and sunday (instead of saturday and sunday).

![grafik](https://user-images.githubusercontent.com/9914122/92740737-478be200-f37e-11ea-9e46-ba317004aa2d.png)

[2020-10-08 12:46] james-em commented on #101
@qodesmith

I forgot to say thank you ! It fixed the issue with uglify ! :)

[2020-10-20 14:12] axelschelfhout commented on #107
I have the same issue. For now I "solved" it with
`disabler: date => date.getDay() === 6 || date.getDay() === 0, // Disable weekends`

[2020-12-25 13:12] qodesmith commented on #107
Sorry for the delay, looking into this now...

[2020-12-25 14:19] qodesmith commented on #107
Fixed!

[2020-12-25 14:19] #107 closed

[2020-12-25 14:40] qodesmith commented on #100
Sorry for the delay. I just saw your example. I think a feature like this would take a substantial effort - there's style and layout changes which would affect how the JS processes creating the calendar as well. I think I'll hold off for now but perhaps we can revisit this in the future.

[2020-12-25 14:40] #100 closed

[2020-12-28 01:46] qodesmith commented on #81
Sorry, just started looking into this again. I've got a `toggleOverlay` method working on the picker instance now. Going to get started on the option to show the overlay when the calendar is opened.

[2020-12-31 11:08] deepakmchetu commented on #36
This issue has been closed for long, but I am facing it right now on iOS devices. I am on version 5.16.0.

Is there any additional parameter or hack I need to use?

[code]

It seems fine, right?

[2020-12-31 13:46] qodesmith commented on #36
@deepakmchetu I just tried on an iPhone 11 and it seems to be working fine. See the video attached. What exactly is happening for you? Can you share a video or screenshot? The code you posted above looks fine to me. For testing purposes, try removing `onSelect` and use the default behavior and see if you're still having issues.

https://user-images.githubusercontent.com/11034792/103412672-545a5e80

[2021-01-01 00:18] #36 closed

[2021-01-01 00:38] qodesmith commented on #81
Ok, this is now in the latest version - 5.18.0.

3 things added:
- toggleOverlay - new method to programmatically toggle the overlay.
- defaultView - a new option that enables you to set the overlay as the default view. Simply pass `defaultView: 'overlay'` as an option.
- A minor tweak, but on mobile devices, the overlay year input will now trigger the numeric keypad instead of the default one.

[2021-01-01 00:38] #81 closed

[2021-01-02 15:53] deepakmchetu commented on #36
I am testing it on BrowserStack, it has also been reported to me with testing on an actual iPad.

Please be patient when you look at the video, I only had a single minute to test this on a free account, so started the recording first. In the video, I am trying to trigger the calendar by clicking on the calendar icon. It works on desktop and Android, not on iOS.

Here's the video, https://www.loom.

[2021-01-02 16:08] qodesmith commented on #36
@deepakmchetu Can you share the actual code? I'm guessing this has more to do with the icon and touch events not passing through rather than datepicker itself. I just tried on an iPad pro and it's working:

https://user-images.githubusercontent.com/11034792/103461206-a937d980-4cea-11eb-8e60-d13a4476f2e7.MP4

[2021-01-02 16:40] deepakmchetu commented on #36
**Markup:**
---------

[code]

**JavaScript:**
-----------

[code]

[2021-01-02 17:42] qodesmith commented on #36
@deepakmchetu Ok, I see you're using font awesome. I just spun up a sample project using font awesome with the html you gave me. It worked on Android, iPhone, and the iPad. _However_... the `<i class="fas fa-calendar-day" id="datepicker"></i>` is a little sketchy because of its size. I had to increase the padding on it to 10px in order for it work for me. Try doing something obnoxious... add like

[2021-01-05 15:00] qodesmith commented on #36
@deepakmchetu You're very welcome! Happy coding my friend :)

[2021-02-09 16:36] MR-Mostafa opened #112 "Jalali Calendar"
Hello
Is any way to your datepicker support jalali calendar (Persian Calendar)?
For logic difference between these dates(jalali & gregorian) you can use: [Persian Date](http://babakhani.github.io/PersianWebToolkit/doc/persian-date/) OR [jalaali-js](https://github.com/jalaali/jalaali-js)
Thanks

[2021-03-02 16:51] dgk816 opened #113 "Month not updating on Win10"
Hello,

I'm not sure this is a real issue.

I'm used nw.js to write a small calendar app that is always present in the upper right of my desktop.  I initially wrote it using a Debian 10.8 virtual machine running in Virtualbox, then moved it to my Windows 10 desktop.

In the picture, the calendar on the left is the Debian VM showing the correct month.  The right one is the Win10 version.  These are

[2021-03-02 17:00] dgk816 commented on #113
Some more info,

As soon as I clicked somewhere on the calendar, the month updated correctly.

As I said earlier, I don't think this is a problem, just an oddity.

[2021-04-08 00:52] amarcozzi opened #114 "Help with daterange on button"
I'm having a difficult time getting date range functionality to work when I press a button. How do you assign the two daterange objects, start and end, to trigger on the same button? If I try to initialize both to the same button as in `const picker_start = datepicker(filterBtn, {id:1})` and `const picker_end = datepicker(filterBtn,  {id:1})` I get the following error:

Uncaught Error: A datepicke

[2021-04-20 16:10] Miguel040 opened #115 "Please Help"
I'm brand new to development and now have a job where I am supposed to work with this datepicker in an existing Laravel project. I'm having trouble with the Show / Hide "Gotcha" function. can someone help me by uploading a markup including html? Thanks!

[2021-04-20 18:41] Miguel040 commented on #114
@amarcozzi I have a similar problem. Did you solve it? Can you please present your solution

[2021-04-21 13:41] amarcozzi commented on #114
@Miguel040 Sorry I never figured this out. I moved on to using two instances of HTML datetime input objects for start/end dates.

[2021-05-03 21:02] YZirkind opened #116 "Allow setting custom location"
Currently the [`position`](https://github.com/qodesmith/datepicker#position) option only allows setting the position directly relative to the associated input, or fixed to the center of the screen.

It would be nice to have the ability to set a custom fixed position anywhere on the screen.  My use case is that I have set the inputs to be hidden, so the picker only shows up in the top left corner o

[2021-06-06 00:57] shepards opened #117 "How to display 3 months for selection"
I'd like to use this library and I'm not a JS guru so it's not obvious to me. Is it possible to display 3 months - on a sliding scale? I tried using a picker1, picker2, picker3 scenario but only the 1st calendar renders.

Use case: In the next shopping season, the date selection needs to pop up and display, for example, Oct, Nov, Dec. No date ranges are wanted. The user simply needs to select a si

[2021-06-09 00:05] qodesmith commented on #117
Hey @shepards. Are you looking to have 3 months side-by-side with a single input field for the date? Help me understand a bit more what you're trying to do. You'll likely have to do a little JS wizardry to accomplish what you want, but I can help you out if you give me more context.

[2021-06-09 00:06] qodesmith commented on #115
@Miguel040 O snap, this totally slipped through the cracks! Are you still having trouble?

[2021-06-09 00:20] qodesmith commented on #116
Check [this fiddle](https://jsfiddle.net/theqodesmith/tgn7b23o/3/) out to see how you can position the calendar fixed on the page. You mentioned you were hiding the input so I used a regular <div> instead.

[2021-06-09 00:20] #116 closed

[2021-06-09 01:13] qodesmith commented on #114
@amarcozzi @Miguel040 I know this is late, but check out [this fiddle](https://jsfiddle.net/theqodesmith/tgn7b23o/7/) if you want to toggle a daterange pair from a button. It's a bit manual, but it gets the job done! Let me know if you were looking for something else.

[2021-06-09 01:13] #114 closed

[2021-06-09 01:16] qodesmith commented on #113
@dgk816 Hey, I know this is old, but I think it's fascinating that you used this for a desktop widget! Did you ever figure out what the issue was? One thought would be if the different operating systems are using a different timezone for whatever reason.

[2021-06-09 01:17] qodesmith commented on #113
Question for you - when you expected the calendar to update to March, this update was in response to what? Did you wait till midnight to see the change or something? I get that you have a setInterval running every 5 seconds, so I'm just curious if this was in response to a click event or something else.

[2021-06-09 01:27] shepards commented on #117
Thanks for the reply.

Yes, Side by Side by Side. So if it's October I need to tell the script to show 3 months across so the user will October, November and December. (CSS and FLEXbox would help with the position and styling. Every date that is not disabled will need to be selectable and when the date is clicked that selected "day" becomes the value of the input so a form can process that as a se

[2021-06-09 01:49] qodesmith commented on #117
@shepards Ok my friend. [Here's a fiddle](https://jsfiddle.net/theqodesmith/f6boed7k/1/) that has 3 datepickers and a single input. Changing the month on any calendar auto adjusts the others. Picking on any calendar works as expected :)

[2021-06-09 01:49] #117 closed

[2021-06-09 02:07] qodesmith commented on #112
@MR-Mostafa Hey, I know this is an older issue, but I'm just getting back in the swing of things. It looks like it would take a substantial effort to support this. I might need to think about implementing a plugin system that would allow for custom calculation of days in the calendar, year, and start day.

[2021-06-09 02:07] #112 closed

[2021-06-09 02:40] shepards commented on #117
Thank you so much. I wouldn't have figured it out.

[2021-06-09 15:20] YZirkind commented on #116
Thanks! I tried it using a `<div>` as in your fiddle and it worked, so I really didn't need to use hidden inputs for it.

[2021-06-10 11:55] kriss145 opened #118 "Days are not the same like in the normally Calendar"
I've implemented this plugin to my project and I see that days are not the same like in the Calendar.

Example: 10.06.2021 in the plugin is Friday but should be Thursday.

It's look like all days are moved +1 day.

Could u help me quickly?

Thanks!

[2021-06-10 12:25] qodesmith commented on #118
@kriss145 Can you spell out the date explicitly so I know exactly which date to check? Are you referring to October 6th, 2021?

[2021-06-10 14:24] qodesmith commented on #118
I just realized today is 6/10/2021 which is what you're probably referring too, haha. The calendar seems to work fine for me, correctly showing today as Thursday. Are you using the latest version, 5.18? You can see it working in [this fiddle](https://jsfiddle.net/theqodesmith/pe75vk1w/) which is explicitly using v5.18.

[2021-06-10 14:24] #118 closed

[2021-06-11 21:27] #115 closed

[2021-06-11 21:27] #113 closed

[2021-06-11 21:28] #64 closed

[2021-09-06 12:26] bsastregx opened #119 "date-picker range"
Hi!
First of all thanks so much for such an amazing plugin!
I am trying to use two date-pickers with the same id to use a daterange.
I am giving, by default, the following min and max dates:
minDate : 1000, 1, 1;
maxDate : 3000, 1, 1;

When I use only one date-picker, this works fine.
However, when using two date-pickers with the same id, for using the range, the **minDate** for the first picker i

[2021-09-07 20:33] #119 closed

[2021-09-08 09:51] bsastregx opened #120 "date range"
Hi!
First of all, thanks so much for suchn an amazing plugin!
I am using a date range with the following **min** and **max** dates:

**minDate** = "1000, 1, 1";
**maxDate** = "3000, 1, 1";

When using the date range, for the ".start" date picker the last available date is today, and for the ".end" date picker the first available date is today. In other words, I can not select a range in that is co

[2021-09-08 13:43] qodesmith commented on #120
Can you post a code snippet of how you instantiate the two datepickers?

[2021-09-08 13:48] bsastregx commented on #120
Sure: https://codepen.io/brsastregx/pen/QWgdrxm?editors=1010

[2021-09-08 16:54] qodesmith commented on #120
After looking at the code, it looks like both pickers in the range have the same value for `dateSelected`. Remove both of them and let me know how it works.

[2021-09-08 18:06] bsastregx commented on #120
That worked! Thanks so muchhhh!!!

[2021-09-08 18:06] #120 closed

[2021-10-01 09:20] jt-adwisemedia opened #121 "Datepicker SCSS variables"
Hello!

This is more of a suggestion, having issues overriding your `./src/datepicker.scss`.

1. You should really put your variables in a `./src/variables.scss` file and make sure that all variables have the `!default` "tag" after each variable.
2. You should also make sure that all colors use variables instead of hardcoding "orange".

And yeah I can do do manual overrides and use `!important`, h

[2021-11-28 14:12] Lukasz93P opened #123 "Dates shift"
All dates are shifted by one day - if today is 28 calendar shows 27 as current date, the same with disabledDates.

[2021-12-29 18:59] halhwadi opened #124 "Issue on Safari v14.0.3"
Datepicker works fine on chrome and edge but on Safari it shows error says:
"options.event" must only contains valid Javascript Dates object, even though date are js date objects, please find JS code for your reference :
`<script>

    $(document).ready(function (){

    $.ajax({

        url:"{% url 'calendar' %}",
        success: function (dates) {
        dates = dates['dates'];
        select

[2022-04-08 12:55] catalin560 opened #126 "`Could not find a declaration file for module 'js-datepicker'.`"
[code]

is there a easy fix for this to work with Typescript?

[2022-04-11 08:34] #126 closed

[2022-04-11 08:39] catalin560 opened #127 "when in `daterange` mode the 2nd calendar always resets to the month of the 1st one"
Example: the 1st calendar is set to show April while the 2nd is set to May, but if a selection happens on the 1st calendar then the 2nd one also updates to April, when this behavior is undesired...

[2022-04-15 06:51] #127 closed

[2022-04-19 16:40] henno opened #128 "Does not work in Bootstrap modal"
Nothing happens when I click on an <input> when it is inside modal body of Bootstrap modal. When I move the <input> outside of the modal, it works as expected. Removing qs-hidden class manually using browser's dev tools reveals the datepicker but clicking on dates does not close it.

[2022-07-06 11:58] jontjs opened #129 "Using / for division outside of calc() is deprecated and will be removed in Dart Sass 2.0.0"
When building, warnings are raised because using / for division outside of calc() is deprecated (in Dart Sass, at least, I don't know about other SASS compilers).

[2022-10-28 00:25] qodesmith commented on #129
This was resolved in a recent [PR](https://github.com/qodesmith/datepicker/pull/125#issuecomment-1292342705).

[2022-10-28 00:25] #129 closed

[2022-11-29 12:58] jvlobo opened #133 "Disabled property does not work"
According to the documentation, there is a property called `disabled` for disabling the entire calendar -> https://github.com/qodesmith/datepicker#disabled

I've tried to use it but it doesn't seem to be working.
Here I tried to do it on the `sandbox.js` file of this repository:

https://user-images.githubusercontent.com/5671420/204535253-8846e988-2e24-43de-a168-1cec79771ace.mov

Am I missing some

[2022-11-29 14:25] qodesmith commented on #133
So this is admittedly confusing. Don't pass the `disabled` property to the options. Rather, add it to the picker instance like this:
[code]

I don't remember why I didn't just pass on the `disabled` property to the instance, but for now this should work.

[2022-11-29 14:39] jvlobo commented on #133
Thanks for the quick reply.

So, what it does, it does not show the calendar when you click the input, right? I thought it would still show it but with everything disabled (not clickable and with different colors to show it is disabled)